/*
*Dark Theme Black: #121212;
*White Text Color: #CCCCCC; 
*Secondary Color Purple: #BB86FC;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #CCCCCC;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.8rem;
    font-weight: normal;
    font-family: 'Maven Pro', sans-serif;
}

h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
}

h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
}

h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
}

h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
}

p {
    font-size: 16px;
}

body {
    background-color: #121212;
    font-weight: 300;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

a {}

a:link {
    text-decoration: none;
}

a:hover {
    color: #BB86FC;
    text-decoration: none;
}

a > h2 {
    color: #BB86FC;
    padding: 1rem;
}

a > h2:hover {
    color: #BB86FC;
    text-decoration: underline;
}

.hero {
    width: 100%;
}

/*
*----------NAVIGATION BAR SECTION-----------
*/
header {
    background-color: #121212;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    text-align: center;
}

header > div#logo {
    line-height: 70px;
    position: relative;
}

header > .menuDown {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
}

header > .menuUp {
    box-shadow: none;
}

header > div#logo > h1 {
    /*Color of the logo text*/
    color: aliceblue;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;

}

header > div#logo > a > h1 {
    /*Color of the logo text*/
    color: aliceblue;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;

}

header > div#logo > div#navToggle {
    position: absolute;
    right: 0;
    top: 0;
    transition: 300ms all ease;
}

header > div#logo > div#navToggle:hover {
    background-color: rgba(0, 0, 0, .1);
}

header > div#logo > div#navToggle > a {

    /*"menu" button color*/
    color: aliceblue;
    display: block;
    font-size: 0.85em;
    font-weight: 600;
    padding: .5rem 1rem 0rem 1rem;
    text-decoration: none;
    transition: 300ms all ease;
}

header > div#logo > div#navToggle:hover > a {
    /*Menu button hover color*/
    color: Blue;
}

header > nav {
    /*dropdown menu box color*/
    background-color: #121212;

    display: none;
    flex: 1;
}

header nav > ul {
    list-style-type: none;
}

header nav > ul > li {
    border-bottom: 1px dotted rgba(0, 0, 0, .1);

    position: relative;
}

header nav > ul > li:last-of-type {
    border-bottom: none;
}

header nav > ul > li > a {
    display: block;
    /*nav item text color*/
    color: #CCCCCC;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    padding: 1.5rem 0;
    text-decoration: none;
    transition: 250ms all ease;
}

header nav > ul > li > a span.toggle {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 3rem;
    color: rgba(0, 0, 0, .25);
    font-size: 0.75em;
    font-weight: 500;
    padding: 2px 8px;
    text-transform: lowercase;
}

header nav > ul > li > a span.caret {
    display: none;
}

header > nav > ul > li:hover > a {
    /*drowdown menu item hover*/
    color: #BB86FC;
}


/*
*----------SLIDESHOW SECTION-----------
*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slide_text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 0px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #BB86FC;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/*
*--------------------BUTTON SECTION------------------
*/

.button {
  background-color: #121212; /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 3rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
    border-radius: 12px;
}

.button:hover {
  background-color: #BB86FC;
  color: white;
}

.button:visited{
    background-color: gray;
}

.hero_buttons{
  align-items: center;
  justify-content: center;
    text-align: center;
}


/*
*--------------------MAIN PAGE SECTION------------------
*/
main {
    color: #CCCCCC;
}

.hero_text {
    margin: 15rem 2rem 8rem 2rem;
    text-align: center;
}



.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(15, 15, 15, 0.8);
}

.container:hover .overlay {
    opacity: 1;
}

.hover_text {
    opacity: 1;
    color: #CCCCCC;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hover_stack {
    opacity: 1;
    color: #CCCCCC;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}




/*
*----------PAGE FOOTER SECTION-----------
*/

.footer-container {
    margin-top: 14rem;
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.footer-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.footer_p {
    margin-top: 1rem;
    font-family: 'Maven Pro', sans-serif;
}


.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    color: #BB86FC;
}


.fa-github {
    margin-top: 1rem;
    margin-right: 1rem;
    color: #CCCCCC;
}

.fa-instagram {
    color: #CCCCCC;
        margin-right: 1rem;

}

.fa-linkedin {
    color: #CCCCCC;
}




/*
*----------PNBMOVE SECTION-----------
*/

.pnb_hero {
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
    height: 450px;
}

.pnb_textblock_hero {
    margin: 2rem;
    text-align: center;
}

.pnb_textblock_hero > h1 {
    margin: 1rem;
}

.pnb_textblock_hero > p {

    text-align: left;
}

.pnb_textblock {
    margin: 2rem;
    text-align: center;
}

.pnb_textblock > h1 {
    text-align: left;
    margin-bottom: 1rem;
}

.pnb_textblock > p {
    text-align: left;
}

.pnb_row_competitive {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;

}

.pnb_comp_logos {
    margin: auto;
    width: 15em;
    padding: 20px;
}

.pnb_comp_logos_lugg {
    margin: auto;
    width: 10rem;
    padding: 20px;
}

.pnb_survey_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.pnb_wireframe_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.pnb_general_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.pnb_poster_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

/*
*-----------------DRAGON SECTION------------------
*/

.dragon_hero {
    width: 100%;
}

.dragon_textblock_background {
    padding: 2rem;
    text-align: left;
    background-color: #212121;
}

.dragon_textblock_background > h1 {
    text-align: left;
    margin-bottom: 1rem;
}

.dragon_textblock_background > p {

    text-align: left;
}


.dragon_textblock {
    margin: 2rem;
    text-align: center;
}

.dragon_textblock > h1 {
    text-align: left;
    margin-bottom: 1rem;
}

.dragon_textblock > p {

    text-align: left;
}



.dragon_pitch {
    margin-top: 2rem;
    width: 90%;
}

.dragon_pitch_list {
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
}

.dragon_pitch_list > li {
    margin: 1rem;
}



.dragon_textblock_role {
    padding: 2rem;
    text-align: center;
}

.dragon_textblock_role > h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.dragon_textblock_role > p {

    text-align: left;
}


.dragon_three_grid {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;

}

.dragon_three_grid > img {
    width: 65%;
    margin: auto;
    padding: 10px;
}


.dragon_split_img {
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
}


.dragon_analysis_grid {
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
}



.dragon_wireframe_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.dragon_analysis_item {
    padding: 1rem;
    text-align: center;
}

.dragon_github {
    text-align: center;
}

.dragon_sketch_img {
    margin: auto;
    padding-top: 1rem;
    width: 80%;
}

.dragon_module_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 95%;
}


/*
*-----------------DRAGON SECTION------------------
*/


.about_img{
    display: block;
    margin: auto;
    width: 90%;
}



/*
*--------------------------------------------------------------
*-------------------MEDIA SCREEN 700px-------------------------
*--------------------------------------------------------------
*/

@media screen and (min-width: 700px) {

    /*
*----------NAVIGATION BAR SECTION-----------
*/

    body {
        font-size: 18px;
    }

    header > div#logo > div#navToggle {
        display: none;
    }

    header {
        background-color: #121212;
        flex-direction: row;
        line-height: 90px;
        padding: 0 3rem;
        /*        position: fixed;*/
        text-align: left;
        width: 100%;
    }

    header > div#logo {
        background-color: transparent;
        line-height: 90px;
    }

    header > div#logo > h1 {
        margin-left: 0rem;
        color: #CCCCCC;
    }

    header > nav {
        background-color: transparent;
        display: block;
    }

    header > nav > ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    header nav > ul > li {
        border-bottom: none;
    }

    header nav > ul > li > a {
        padding: 0 1.25rem;
    }

    header nav > ul > li > a span.toggle {
        display: none;
    }



    /*
*----------  SECTION-----------
*/

    h1 {
        font-size: 2.5em;
        /* 2.5x body copy size = 40px */
        line-height: 1.125;
    }

    .p {
        font-size: 18px;
    }

    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .footer-container {
        grid-template-columns: auto auto auto;
    }


    /*
*----------SLIDESHOW SECTION-----------
*/

    /* Slideshow container */
    .slideshow-container {
        max-width: 500px;
        padding-bottom: 1rem;
        position: relative;
        margin: auto;
    }

    .prev,
    .next {
        font-size: 32px;
    }

    /* Caption text */
    .slide_text {
        color: #f2f2f2;
        font-size: 29px;
        padding: 6px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 18px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }


    /*
*----------PNBMOVE SECTION-----------
*/

    .pnb_hero {
        object-fit: cover;
        object-position: 50% 0;
        width: 100%;
        height: 600px;
    }


    .pnb_textblock > p {
        text-align: left;
        max-width: 700px;
        font-size: 22px;
        margin-left: 2rem;
    }

    .pnb_survey_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .pnb_wireframe_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .pnb_general_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .pnb_poster_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }



    /*
*----------DRAGON SECTION-----------
*/


    .dragon_hero {
        width: 100%;
    }

    .dragon_textblock{
        margin: 6rem;
    }
    
    
    .dragon_textblock > p {
        text-align: left;
        max-width: 700px;
        font-size: 22px;
        margin-left: 2rem;
    }

    
    .dragon_textblock_role > p {
        text-align: center;
        max-width: 700px;
        font-size: 22px;
        margin: auto;
    }

    .dragon_textblock_background{
        padding: 6rem;
    }
    
    .dragon_textblock_background > p {
        text-align: left;
        max-width: 700px;
        font-size: 22px;
        margin-left: 2rem;
    }

    .dragon_split_img {
        display: grid;
        grid-template-columns: auto auto;
        padding: 1rem;
    }


    .dragon_three_grid {
        grid-template-columns: auto auto auto;
    }

    .dragon_three_grid > img {
        width: 95%;
        padding: 0px;
    }


    .dragon_pitch_list {
        margin-left: 3rem;
    }

    .dragon_pitch_list > li {
        font-size: 18px;

    }

    .dragon_wireframe_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 110%;
    }

    .dragon_sketch_img {
        margin: auto;
        padding-top: 0rem;
        width: 70%;
    }

    .dragon_module_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: 85%;
    }

    .dragon_analysis_item {
        padding: 1rem;
        margin: auto;
        width: 80%;
        text-align: center;
    }
    
    
    
    
    
}

/* 700px End*/




/*
*--------------------------------------------------------------
*-------------------MEDIA SCREEN 1068px-------------------------
*--------------------------------------------------------------
*/
@media screen and (min-width: 1068px) {

    h1 {
        font-size: 3em;
        /* 3x body copy size = 48px */
        line-height: 1.05;
    }

    .row {
        padding: 0 20px;
    }

    .column {
        padding: 0 20px;
    }

    .column img {
        margin-top: 20px;
        padding-top: 20px;
    }



    /*
*----------SLIDESHOW SECTION-----------
*/

    /* Slideshow container */
    .slideshow-container {
        max-width: 29%;
        padding-bottom: 1rem;
        position: relative;
        margin: auto;
    }

    .prev,
    .next {
        font-size: 32px;
    }

    /* Caption text */
    .slide_text {
        color: #f2f2f2;
        font-size: 20px;
        padding: 6px 1px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 18px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }


    /*
*----------PNBMOVE SECTION-----------
*/

    .pnb_hero {
        object-fit: cover;
        object-position: 50% 0;
        width: 100%;
        height: 550px;
    }

    .pnb_textblock {
        margin: 7%;
        text-align: center;
    }

    .pnb_textblock_hero > h2 {
        margin: 4rem;
        font-size: 2rem;
        text-align: center;
    }

    .pnb_survey_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .pnb_wireframe_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .pnb_general_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .pnb_poster_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .pnb_split_img {
        display: grid;
        grid-template-columns: auto auto;
        padding: 1rem;
    }



    /*
*----------DRAGON SECTION-----------
*/


    .dragon_hero {
        width: 100%;
    }
    
    .dragon_analysis_item {
        padding: 1rem;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    
    .dragon_module_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: 75%;
    }
    
    .dragon_analysis_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
}
    

/*
*----------ABOUT SECTION-----------
*/
    
    .about_img{
    padding-top: 3rem;
    display: block;
    margin: auto;
    width: 70%;
}
    
    .pnb_textblock_hero > h3{
        max-width: 700px;
    }

    
}


/*
*--------------------------------------------------------------
*-------------------MEDIA SCREEN 1068px-------------------------
*--------------------------------------------------------------
*/
@media screen and (min-width: 1368px) {
    .pnb_hero {
        object-fit: cover;
        object-position: 50% 0;
        width: 100%;
        height: 750px;
    }

    .pnb_textblock_hero > h2 {
        margin: 8rem;
        font-size: 2rem;
        text-align: center;
    }

    .pnb_textblock {
        margin: 7%;
        padding-left: 8rem;
        text-align: center;
    }

    .pnb_poster_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    /*
*----------DRAGON SECTION-----------
*/


    .dragon_hero {
        width: 100%;
    }
    
    .dragon_sketch_img {
    margin: auto;
    padding-top: 1rem;
    width: 80%;
}
    
    .dragon_wireframe_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
    
    /*
*----------ABOUT SECTION-----------
*/
    
    .about_img{
    padding-top: 3rem;
    display: block;
    margin: auto;
    width: 50%;
}
}
